/* RESPONSIVE FOR DESKTOP */
@media screen and (min-width:768px){
    .cart{
        background-color: #d03933;
        height: 70px;
        padding: 0 40px;
        outline: none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart i{
        color: white;
        font-size: 30px;
    }
}