.main-title{
    font-family: 'Quantico', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center !important;
}
.row-list-container{
    margin: 0 auto !important;
}
