.nav-bar{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  
}
.item-menu{
    text-transform: uppercase !important;
    color: black !important;
    font-family: 'Work Sans', sans-serif;
}
.item-menu:hover{
    color: #F22727 !important;
}
.navbar-toggler:focus{
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.55);
    background-color: #f8f9fa;
}